@media screen and (min-width:320px) {
    .section2{
        width: 100%;
        height: 1080px;
        background-color: #fff;
    .about-page-person{
        width: 270px;
        height: 300px;
        background-color: #f7f7f7;
        position: relative;
        margin: 50px auto 30px;
        z-index: 0;
    }
    img{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
    .about-page-text{
        padding: 20px;
        h1{
            font-size: 30px;
            color: #212238;
            position: relative;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .main-text{
            text-align: justify;
        }
        .main-info{
            font-size: 18px;
            color: #2c2c2c;
        }
        .info{
            margin-top: 20px;
            font-size: 18px;
            color: #2c2c2c;
        }
        .progress{
            width: 90%;
            margin-top: 20px;
            h3{
                margin-top: 20px;
            }
            .bar{
                background: #212238;
                display: block;
                height: 5px;
                border-radius: 5px;
                overflow: hidden;
                margin-top: 5px;
                span{
                    height: 5px;
                    float: left;
                    background: $mainColor;
                }
                .html{
                    width: 85%;
                    animation: html 2s;
                }
                .css{
                    width: 90%;
                    animation: css 2s;
                }
                .design{
                    width: 92%;
                    animation: design 2s;
                }
                @keyframes html {
                    0%{
                        width: 0%;
                    }
                    100%{
                        width: 85%;
                    }
                }
                @keyframes css {
                    0%{
                        width: 0%;
                    }
                    100%{
                        width: 90%;
                    }
                }
                @keyframes design {
                    0%{
                        width: 0%;
                    }
                    100%{
                        width: 82%;
                    }
                }
                
            }
        }
         a{   
            margin-top: 20px;
            position: absolute;
            color: #212238;
            font-family:'Poppins', sans-serif;
            border: 2px solid #212238;
            text-transform: lowercase;
            text-decoration: none;
            padding: 10px 20px;
            transition: 300ms;
            &:hover{
                border: 2px solid #212238;
                background-color: #212238;
                color: #fff;
            }
        }        
    }
}
}
@media screen and (min-width:375px) {
    .section2{
        height: 1000px;
        .about-page-text{
            padding: 0 30px;
            .progress{
                width: 330px;
            }
        }
    }
}
@media screen and (min-width:425px) {
    .section2{
        .about-page-person{
            margin: 20px auto;
            width: 320px;
            height: 370px;
        }
        .about-page-text{
            h1{
                text-align: center;
            }
            .progress{
                width: 90%;
            }
        }
    }
}
@media screen and (min-width:768px) {
    .section2{
        display:block;
        height: 920px;
        .about-page-person{
            margin: 30px auto 0;
            width: 320px;
            height: 370px;
        }
        .about-page-text{
            h1{
                margin-top: 20px;
            }
            margin-left: 10px;
            padding: 0 50px;
            .progress{
                width: 90%;
            }
        }
    }
}
@media screen and (min-width:1024px) {
    .section2{
        display: flex;
        height: 600px;
        justify-content: center;
        .about-page-person{
            width: 320px;
            height: 370px;
            margin-top: 85px;
            margin-left: 20px;
        }
        .about-page-text{
            .main-text{
                width: 600px;
            }
            .progress{
                width: 600px;
            }
        }
    }
}
@media screen and (min-width:1150px) {
    .section2{
        .about-page-person{
            margin-left: 100px;
            &::before{
                position: absolute;
                content: '';
                border: 10px solid #0e1525;
                width: 100%;
                height: 100%;
                top: 25px;
                right: 30px;
                z-index: -1;
            }
        }
    }
}
@media screen and (min-width:1300px) {
    .section2{
        .about-page-person{
            margin-left: 170px;
        }
        .about-page-text{
            margin-right: 120px;
        }
    }
}
@media screen and (min-width:1440px) {
    .section2{
        padding-top: 90px;
        height: 650px;
        .about-page-person{
            margin-left: 200px;
            margin-top: 30px;
        }
        .about-page-text{
            width: 800px;
            h1{
                margin-left: -540px;
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 100px;
                    height: 3px;
                    background:$mainColor;
                    bottom: 0;
                }
            }
            .main-text{
                width: 750px;
            }
            .progress{
                width: 500px;
            }
        }
    }
}
@media screen and (min-width:1700px) {
    .section2{
        .about-page-person{
            margin-left: 350px;
        }
        .about-page-text{
            margin-right: 200px;
        }
    }
}
@media screen and (min-width:1900px) {
    .section2{
        height: 700px;
        display: flex;

        .about-page-person{
            margin-left: 400px;
            width: 400px;
            height: 460px;
            margin-top: 10px;
        }
        .about-page-text{
            h1{
                margin-left: -870px;
                margin-top: 0px;
            }
            .main-text{
                margin-right: 220px;
                margin-top: 20px;
            }
        }
    }
}
@media screen and (min-width:2560px) {
    .section2{
        height: 700px;
        .about-page-person{
            margin-left: 800px;
            width: 400px;
            height: 450px;
        }
        .about-page-text{
            h1{
                margin-left: -1100px;
            }
            .main-text{
                margin-right: 430px;
                width: 820px;
                .main-info{
                    font-size: 22px;
                }
                .info{
                    font-size: 22px;
                }
            }
            .progress{
                width: 700px;
            }
        }
    }
}