@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.section1 {
  width: 100%;
  height: 680px;
  overflow-y: hidden;
  background-color: #0e1525;
}
.section1 .nav {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-around;
  position: relative;
  align-items: center;
  position: fixed;
  z-index: 11;
  background-color: #020202;
}
.section1 .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 18px 0;
}
.section1 .nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.section1 .nav .nav-links li a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  padding: 5px 5px;
  transition: 250ms;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.section1 .nav .nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 255, 255, 0.7411764706);
  display: block;
  margin: auto;
  transition: 250ms;
}
.section1 .nav .nav-links li:hover::after {
  width: 100%;
}
.section1 .nav i {
  font-size: 30px;
  display: none;
  cursor: pointer;
  color: #fff;
}
.section1 .nav #click {
  display: none;
}
.section1 .nav span {
  color: #4cc3e0;
}
.section1 .text {
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 11;
}
.section1 .person-image {
  width: 450px;
  height: 560px;
  margin-top: 111px;
  float: right;
  margin-right: 350px;
}
.section1 img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .section1 .nav ul {
    width: 35%;
  }
}
@media (max-width: 1116px) {
  .section1 img {
    margin-left: 300px;
  }
  .section1 {
    overflow-x: hidden;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  .section1 .nav .nav-links {
    position: absolute;
    right: 0px;
    height: 54vh;
    top: 80px;
    top: -600%;
    width: 100%;
    background-color: #020202;
    display: flex;
    flex-direction: column;
    z-index: 11;
    align-items: center;
    transition: transform 1s ease-in;
    transition: all 750ms ease;
    border-top: 0.1px solid #fff;
  }
  #click:checked ~ .nav-links {
    top: 100%;
  }
  .section1 .nav .nav-links li a {
    color: #fff;
    text-transform: uppercase;
    padding: 30px 30px;
  }
  .section1 .nav i {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .section1 img {
    opacity: 0.2;
  }
  .section1 .person-image {
    width: 400px;
    height: 450px;
    margin-top: 220px;
  }
}
@media (min-width: 320px) {
  .section1 img {
    margin-top: 10px;
    margin-left: 415px;
    width: 350px;
  }
  .section1 .text {
    margin-top: 300px;
    margin-left: 20px;
    z-index: 1;
  }
  .section1 .text .hi {
    color: #fff;
  }
  .section1 .text .name {
    color: #4cc3e0;
    font-size: 30px;
  }
  .section1 .text .job {
    color: rgba(255, 255, 255, 0.8431372549);
    font-size: 26px;
  }
  .section1 .text a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #4cc3e0;
    margin-top: 10px;
    position: absolute;
    transition: 300ms;
  }
  .section1 .text a:hover {
    background-color: #4cc3e0;
    border: 2px solid #4cc3e0;
  }
}
@media screen and (min-width: 360px) {
  .section1 img {
    margin-left: 400px;
  }
}
@media (min-width: 375px) {
  .section1 img {
    margin-left: 390px;
  }
  .section1 .text {
    margin-left: 50px;
  }
}
@media screen and (min-width: 425px) {
  .section1 img {
    margin-left: 360px;
  }
}
@media screen and (min-width: 480px) {
  .section1 img {
    width: 450px;
    filter: brightness(0.8);
  }
}
@media screen and (min-width: 768px) {
  .section1 img {
    filter: brightness(0.9);
    width: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .section1 {
    overflow-x: hidden;
  }
  .section1 .text {
    margin-left: 210px;
    margin-top: 280px;
  }
  .section1 .text .hi {
    font-size: 26px;
  }
  .section1 .text .name {
    font-size: 40px;
  }
  .section1 .text .job {
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .section1 img {
    margin-left: 200px;
    width: 520px;
    height: 650px;
    margin-top: -80px;
  }
  .section1 .nav {
    background-color: rgba(2, 2, 2, 0.8470588235);
  }
}
@media screen and (min-width: 1800px) {
  .section1 img {
    margin-left: 100px;
  }
}
@media screen and (min-width: 2560px) {
  .section1 .text {
    margin-left: 300px;
  }
  .section1 img {
    margin-left: -100px;
  }
}
@media screen and (min-width: 320px) {
  .section2 {
    width: 100%;
    background-color: #fff;
  }
  .section2 .about-page-person {
    width: 270px;
    height: 320px;
    background-color: #f7f7f7;
    position: relative;
    margin: 50px auto 30px;
    z-index: 0;
  }
  .section2 img {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  .section2 .about-page-text {
    padding: 20px;
  }
  .section2 .about-page-text h1 {
    font-size: 30px;
    color: #212238;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .section2 .about-page-text .main-text {
    text-align: justify;
  }
  .section2 .about-page-text .main-info {
    font-size: 18px;
    color: #2c2c2c;
  }
  .section2 .about-page-text .info {
    margin-top: 20px;
    font-size: 18px;
    color: #2c2c2c;
  }
  .section2 .about-page-text .hidden {
    display: none;
  }
  .section2 .about-page-text .close-modal {
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .section2 .about-page-text .close-modal:hover {
    background-color: #4cc3e0;
    border: none;
  }
  .section2 .about-page-text .modal {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  .section2 .about-page-text .progress {
    width: 100%;
    margin-top: 20px;
  }
  .section2 .about-page-text .progress h3 {
    margin-top: 20px;
  }
  .section2 .about-page-text .progress .bar {
    background: #212238;
    display: block;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
  }
  .section2 .about-page-text .progress .bar span {
    height: 5px;
    float: left;
    background: #4cc3e0;
  }
  .section2 .about-page-text .progress .bar .html {
    width: 88%;
    -webkit-animation: html 2s;
            animation: html 2s;
  }
  .section2 .about-page-text .progress .bar .css {
    width: 90%;
    -webkit-animation: css 2s;
            animation: css 2s;
  }
  .section2 .about-page-text .progress .bar .design {
    width: 92%;
    -webkit-animation: design 2s;
            animation: design 2s;
  }
  .section2 .about-page-text .progress .bar .js {
    width: 85%;
    -webkit-animation: html 2s;
            animation: html 2s;
  }
  .section2 .about-page-text .progress .bar .development {
    width: 95%;
    -webkit-animation: html 2s;
            animation: html 2s;
  }
  .section2 .about-page-text .progress .bar .git {
    width: 90%;
    -webkit-animation: html 2s;
            animation: html 2s;
  }
  @-webkit-keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 88%;
    }
  }
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 88%;
    }
  }
  @-webkit-keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @-webkit-keyframes design {
    0% {
      width: 0%;
    }
    100% {
      width: 92%;
    }
  }
  @keyframes design {
    0% {
      width: 0%;
    }
    100% {
      width: 92%;
    }
  }
  @-webkit-keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @-webkit-keyframes development {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  @keyframes development {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  @-webkit-keyframes git {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes git {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  .section2 .about-page-text .btn--group {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
  }
  .section2 .about-page-text button {
    margin-top: 20px;
    font-size: 15px;
    color: #212238;
    font-family: "Poppins", sans-serif;
    border: 2px solid #4cc3e0;
    text-transform: lowercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: 300ms;
    cursor: pointer;
    background: none;
  }
  .section2 .about-page-text button:hover {
    border: 2px solid #4cc3e0;
    background-color: #4cc3e0;
    color: #fff;
  }
  .section2 .about-page-text a {
    position: relative;
    margin-top: 20px;
    color: #212238;
    font-family: "Poppins", sans-serif;
    border: 2px solid #212238;
    text-transform: lowercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: 300ms;
  }
  .section2 .about-page-text a:hover {
    border: 2px solid #212238;
    background-color: #212238;
    color: #fff;
  }
}
@media screen and (min-width: 375px) {
  .section2 {
    padding-bottom: 20px;
  }
  .section2 .about-page-text {
    padding: 0 30px;
  }
  .section2 .about-page-text .progress {
    width: 100%;
  }
}
@media screen and (min-width: 425px) {
  .section2 .about-page-person {
    margin: 20px auto;
    width: 320px;
    height: 370px;
  }
  .section2 .about-page-text h1 {
    text-align: center;
  }
  .section2 .about-page-text .progress {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .section2 {
    display: block;
  }
  .section2 .about-page-person {
    margin: 30px auto 0;
    width: 320px;
    height: 370px;
  }
  .section2 .about-page-text {
    margin-left: 10px;
    padding: 0 50px;
  }
  .section2 .about-page-text h1 {
    margin-top: 20px;
  }
  .section2 .about-page-text .modal {
    width: 90%;
    top: 170%;
    left: 50%;
    padding: 50px;
  }
  .section2 .about-page-text .modal .progress {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
  .section2 .about-page-text .modal .progress .left,
.section2 .about-page-text .modal .progress .right {
    width: 50%;
    margin-left: 20px;
  }
  .section2 .about-page-text .progress {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .section2 {
    display: flex;
    justify-content: center;
  }
  .section2 .content {
    display: flex;
    justify-content: center;
  }
  .section2 .about-page-person {
    width: 320px;
    height: 370px;
    margin-top: 85px;
    margin-left: 20px;
  }
  .section2 .about-page-text .main-text {
    width: 600px;
  }
  .section2 .about-page-text .modal {
    width: 70%;
    top: 117%;
    left: 62%;
  }
  .section2 .about-page-text .progress {
    width: 600px;
  }
}
@media screen and (min-width: 1150px) {
  .section2 .about-page-person {
    margin-left: 100px;
  }
  .section2 .about-page-person::before {
    position: absolute;
    content: "";
    border: 10px solid #0e1525;
    width: 100%;
    height: 100%;
    top: 25px;
    right: 30px;
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  .section2 {
    padding-top: 90px;
  }
  .section2 .about-page-person {
    margin-top: 30px;
  }
  .section2 .about-page-text {
    width: 800px;
  }
  .section2 .about-page-text h1 {
    margin-left: -550px;
    position: relative;
  }
  .section2 .about-page-text h1::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #4cc3e0;
    bottom: 0;
  }
  .section2 .about-page-text .main-text {
    width: 750px;
  }
  .section2 .about-page-text .modal {
    width: 60%;
    top: 120%;
    left: 68%;
  }
  .section2 .about-page-text .modal .progress {
    width: 90%;
  }
  .section2 .about-page-text .progress {
    width: 500px;
  }
}
@media screen and (min-width: 1900px) {
  .section2 {
    height: 700px;
    display: flex;
  }
  .section2 .about-page-person {
    width: 400px;
    height: 460px;
    margin-top: 10px;
  }
  .section2 .about-page-text h1 {
    margin-left: -550px;
    margin-top: 0px;
  }
  .section2 .about-page-text .modal {
    width: 50%;
    left: 65%;
    top: 125%;
  }
  .section2 .about-page-text .main-text {
    margin-right: 220px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 2560px) {
  .section2 {
    height: 700px;
  }
  .section2 .about-page-person {
    width: 400px;
    height: 450px;
  }
  .section2 .about-page-text h1 {
    margin-left: -560px;
  }
  .section2 .about-page-text .modal {
    width: 50%;
    left: 70%;
    top: 90%;
  }
  .section2 .about-page-text .main-text {
    margin-right: 430px;
    width: 820px;
  }
  .section2 .about-page-text .main-text .main-info {
    font-size: 22px;
  }
  .section2 .about-page-text .main-text .info {
    font-size: 22px;
  }
  .section2 .about-page-text .progress {
    width: 700px;
  }
}
@media screen and (min-width: 320px) {
  .section3 {
    width: 100%;
    height: 800px;
    background-color: #fafafa;
  }
  .section3 h1 {
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }
  .section3 .services {
    width: 100%;
    height: 650px;
    padding: 0 20px;
  }
  .section3 .services .box {
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin: 20px 0px;
    border-radius: 5px;
    border: 2px solid #2c2c2c;
  }
  .section3 .services .box .icon {
    text-align: center;
    padding-top: 20px;
  }
  .section3 .services .box .title {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #2c2c2c;
    font-weight: 600;
  }
  .section3 .services .box .copyright {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .section3 {
    overflow-y: hidden;
  }
  .section3 .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
  }
  .section3 .services .box {
    width: 350px;
    height: 200px;
    margin: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .section3 {
    height: 400px;
  }
  .section3 h1 {
    position: relative;
  }
  .section3 h1::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #4cc3e0;
    bottom: 0;
  }
  .section3 .services {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1440px) {
  .section3 {
    height: 520px;
  }
  .section3 h1 {
    margin-top: 55px;
    font-size: 30px;
  }
  .section3 .services {
    margin-top: 75px;
  }
}
@media screen and (min-width: 320px) {
  .section4 {
    width: 100%;
    height: 900px;
    background-color: #ececec;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .section4 .container-form {
    width: 100%;
    height: 480px;
    background-color: #2c2c2c;
  }
  .section4 .container-form h1 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
  }
  .section4 .container-form .input-field {
    width: 280px;
    height: 40px;
    border: 1px solid #000;
    margin-top: 20px;
    outline: none;
    padding-left: 10px;
  }
  .section4 .container-form .textarea-field {
    height: 150px;
    padding-top: 10px;
    resize: vertical;
    padding-left: 10px;
  }
  .section4 .container-form ::-moz-placeholder {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .section4 .container-form :-ms-input-placeholder {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .section4 .container-form ::placeholder {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .section4 .container-form form {
    display: grid;
    justify-content: center;
    margin: 20px 0;
  }
  .section4 .container-form button {
    width: 180px;
    margin-top: 15px;
    padding: 15px 30px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: lowercase;
    border: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: #2c2c2c;
    transition: 550ms;
    cursor: pointer;
  }
  .section4 .container-form button:hover {
    background-color: #fff;
    color: #000;
  }
  .container-details {
    width: 100%;
    height: 420px;
    background-color: #ebebeb;
  }
  .container-details h1 {
    text-align: center;
    padding-top: 20px;
  }
  .container-details .detail-row {
    display: flex;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
  }
  .container-details .detail-row img {
    margin-left: 20px;
  }
  .container-details .detail-row p {
    padding-left: 20px;
    color: #000;
  }
  .container-details .social-media .btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .container-details .social-media .btns a {
    color: #000;
    border: 2px solid #2c2c2c;
    padding: 20px 30px;
    border-radius: 5%;
    margin: 0 5px;
    transition: 250ms;
    background-color: #fff;
  }
  .container-details .social-media .btns a:hover {
    background-color: #2c2c2c;
    color: #fff;
  }
  .container-details .social-media .btns i {
    font-size: 26px;
  }
}
@media screen and (min-width: 375px) {
  .section4 .container-details .detail-row {
    margin-left: 40px;
  }
}
@media screen and (min-width: 425px) {
  .section4 .container-form .input-field {
    width: 350px;
  }
  .section4 .container-details .detail-row {
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .section4 {
    height: 450px;
  }
  .section4 .container-form {
    height: 450px;
  }
  .section4 .container-form .input-field {
    width: 350px;
  }
  .section4 .containers {
    display: flex;
  }
  .section4 .containers .container-details {
    height: 450px;
    width: 500px;
  }
  .section4 .containers .container-details .cd {
    text-align: left;
    margin-left: 20px;
  }
  .section4 .containers .container-details .detail-row {
    margin-left: 20px;
  }
  .section4 .containers .container-details .detail-row img {
    margin-left: 0;
  }
  .section4 .containers .container-details .social-media .cm {
    text-align: left;
    margin-left: 20px;
  }
  .section4 .containers .container-details .social-media .btns {
    justify-content: left;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .section4 {
    height: 640px;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .section4 .containers {
    width: 900px;
    margin: 0 auto;
  }
  .section4 .containers .container-details {
    border: 2px solid #2c2c2c;
  }
}
@media screen and (min-width: 320px) {
  footer {
    width: 100%;
    height: 420px;
    background-color: #0e1525;
    overflow-x: hidden;
  }
  footer h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .footer-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 5px;
    transition: 250ms;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  footer .footer-ul li a:hover {
    color: rgba(255, 255, 255, 0.5490196078);
  }
  footer .author {
    text-align: center;
  }
  .btns-footer {
    display: flex;
    justify-content: center;
  }
  .btns-footer img {
    margin: 0 5px;
    transition: 300ms;
  }
  .btns-footer img:hover {
    opacity: 0.4;
  }
  .credits {
    text-align: center;
    margin-top: 15px;
  }
  .credits p {
    color: #fff;
    font-size: 14px;
  }
  .credits a {
    font-size: 14px;
    color: #4cc3e0;
  }
  .author p {
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 375px) {
  footer {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    height: 310px;
  }
  footer h1 {
    padding-top: 50px;
  }
  footer .footer-content {
    display: flex;
    justify-content: center;
  }
  footer .footer-content div {
    display: grid;
    margin: 0 20px;
  }
  footer .footer-content div .btns-footer {
    display: flex;
  }
  footer .credits {
    margin-top: 40px;
  }
  footer #privacy li {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 320px) {
  .policy {
    padding: 0 10px;
    text-align: justify;
  }
  .back-to-mp {
    margin: 20px 0;
    margin-left: 10px;
  }
  .back-to-mp a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #2c2c2c;
    transition: 250ms;
  }
  .back-to-mp a:hover {
    background-color: #2c2c2c;
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .policy {
    padding: 0 120px;
    text-align: justify;
  }
  .back-to-mp {
    text-align: left;
    margin-left: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .policy {
    padding: 0 220px;
    text-align: justify;
  }
  .back-to-mp {
    margin-left: 220px;
  }
}
@media screen and (min-width: 1440px) {
  .policy {
    padding: 0 250px;
    text-align: justify;
  }
  .back-to-mp {
    margin-left: 250px;
  }
}
@media screen and (min-width: 320px) {
  .gallery {
    width: 100%;
    padding-bottom: 40px;
    background-color: #f3f3f3;
    overflow-x: hidden;
  }
  .gallery h1 {
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .gallery p {
    color: #2c2c2c;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  .gallery .img-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery .img-gallery .box {
    padding: 10px;
    width: 320px;
    height: 170px;
    position: relative;
    margin-bottom: 60px;
  }
  .gallery .img-gallery .box img {
    width: 100%;
    height: 100%;
  }
  .gallery .img-gallery .box .btn--group {
    text-align: center;
    margin-top: 20px;
  }
  .gallery .img-gallery .box .btn--group a {
    color: #212238;
    font-family: "Poppins", sans-serif;
    border: 2px solid #212238;
    text-transform: lowercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: 300ms;
  }
  .gallery .img-gallery .box .btn--group a:hover {
    border: 2px solid #212238;
    background-color: #212238;
    color: #fff;
  }
}
@media screen and (min-width: 375px) {
  .gallery h1 {
    font-size: 28px;
  }
  .gallery .soon {
    width: 320px;
  }
}
@media screen and (min-width: 425px) {
  .gallery h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery .img-gallery .box {
    width: 400px;
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery h1 {
    position: relative;
  }
  .gallery h1::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #4cc3e0;
    bottom: 0;
  }
  .gallery .img-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    height: 650px;
  }
  .gallery h1 {
    margin-top: 60px;
  }
  .gallery .soon-h1 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1600px) {
  .gallery {
    height: 600px;
    overflow-y: hidden;
  }
  .gallery h1 {
    padding-top: 80px;
  }
  .gallery .img-gallery {
    margin-top: 40px;
  }
  .gallery p {
    text-align: center;
    margin-left: 0;
  }
  .gallery .soon-h1 {
    padding-top: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

.text-success {
  text-align: center;
  margin-top: 100px;
}
.text-success h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.text-success p {
  margin-top: 10px;
  font-size: 20px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.text-success a {
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 250ms;
}
.text-success a:hover {
  border: 1px solid #2c2c2c;
  background-color: #2c2c2c;
  color: #fff;
}/*# sourceMappingURL=style.css.map */